

.leftNavButton, .rightNavButton {
    position: absolute;
    width: 8.5rem;
    bottom: 1.5rem;
}

.leftNavButton {
    left: 1.5rem;
}

.rightNavButton {
    right: 1.5rem;
}

.inputsContainer {
    width: 100%;
}