@import '_colours';

.textInput {
    border: solid #c9c9c9 1px;
    border-radius: 2rem;
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    color: $spotify_green;
    font-size: 1rem;
    width: 100%;

    transition: border-color 300ms, color 300ms;

    &:disabled {
        border-color: $grey-50;
        color: $grey-50;
    }
}