/* Transitions */
.step1-appear, .step2-appear {
    opacity: 0.01;
}

.step1-appear.step1-appear-active {
    opacity: 1;
    transition: opacity 1s;
}

.step2-appear.step2-appear-active {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 600ms;
}

.actionBar-appear {
    transform: translateY(50%);
    opacity: 0;
}

.actionBar-appear.actionBar-appear-active {
    transform: none;
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}