@import '_colours';

.toast {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    transition: background-color 0.3s;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.iconContainer {
    margin: 0 0 0 8px;
    width: 32px;
}

.loading {
    background-color: $grey-50;
}

.loadingSpinner {
    font-size: 25px;
    margin-top: 3px;
}

.tickIcon {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url('../../../assets/img/tick-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 4px 0 0 6px;
}

.success {
    background-color: $spotify_green;
}

.error {
    background-color: rgb(126, 0, 0);
}

.enter {
    transform: translate3d(0, 100%, 0);
}

.enterActive {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.exit {
    transform: translate3d(0, 0, 0);
}

.exitActive {
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s;
}