@import '_colours';

.toast {
    width: 100%;
    min-height: 32px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    transition: background-color 0.3s;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.171) 0px -3px 6px;
}

.iconContainer {
    margin: 0 0 0 8px;
    width: 32px;
    flex-shrink: 0;
}

.label {
    padding: 8px 0;
}

.loading {
    background-color: $grey-50;
}

.loadingSpinner {
    font-size: 25px;
    margin-top: 3px;
}

.tickIcon {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url('../../../assets/img/tick-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 4px 0 0 6px;
}

.errorIcon {
    display: block;
    width: 13px;
    height: 13px;
    background-image: url('../../../assets/img/error.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 6px;
}


.success {
    background-color: $spotify_green;
}

.error {
    background-color: rgb(126, 0, 0);
}

.enter {
    transform: translate3d(0, 100%, 0);
}

.enterActive {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.exit {
    transform: translate3d(0, 0, 0);
}

.exitActive {
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s;
}