@import '_colours';

.container {
    overflow: hidden;
}

.back {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.header {
    color: $spotify_green;
    font-size: 1.5em;
    margin: 1.15rem 0 3rem 0;
}

.actionBarContainer {
    text-align: center;
    padding: 4rem 2rem 3rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 5.1rem;
    flex-grow: 1;

    p {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 2.5rem;
        color: $spotify_green;
        margin: 1rem 0;
    }
}

.detailsInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.spacer {
    height: 1rem;
}

.tick {
    width: 2.5rem;
    margin-top: 16px;
}