.button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}