.actionBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 2rem 3rem 2rem;
}

.headerContainer {
    flex-grow: 1;
    margin-top: 4rem;
}

.topButton {
    margin-bottom: 1rem;
}

.qrContainer {
    position: relative;
    text-align: center;
    height: 1px;
    transform: translateY(-5.5rem);
    z-index: 2;

    p {
        font-size: 0.75rem;
        margin-top: 0.4rem;
    }
}

.qrCode {
    position: relative;
    width: 11rem;
    height: 11rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.qrCode>img.loaded {
    opacity: 1;
}

.partyIdInput {
    position: absolute;
    top: -100px;
    opacity: 0;
}