@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #191414;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: #D3D3D3;
}

