@import '_colours';

.button {
    background-color: white;
    border: none;
    color: $black;
    height: 3.25rem;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 6px;
    width: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s, transform 0.15s;

    &:hover {
        background-color: #ebe9e9;
    }

    &:active {
        transform: translateY(1px);
    }
}

.secondary {
    background-color: transparent;
    border: white 1px solid;
    color: white;

    &:hover {
        background-color: transparent;
    }
}

.greenPrimary {
    background-color: $spotify_green;
    color: white;

    &:hover {
        background-color: #1c9145;
    }
}

.disabled {
    background-color: transparent;
    border: $grey-50 1px solid;
    color: $grey-50;
    cursor: default;

    &:hover {
        background-color: transparent;
    }

    &:active {
        transform: none;
    }
}

.icon {
    display: inline-block;
    width: 1.1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.label {
    vertical-align: middle;
}