@import '_colours';

.button {
    background-color: white;
    border: none;
    color: $black;
    height: 3.25rem;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 6px;
    width: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s;
    position: relative;
    transition: transform 0.1s;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #ebe9e9;
        }
    
        &:active {
            transform: scale(0.98);
        }
    }
}

.secondary {
    background-color: transparent;
    border: white 1px solid;
    color: white;
    box-shadow: none;

    &:hover:not(.disabled):not(.loading) {
        background-color: transparent;
    }
}

.greenPrimary {
    background-color: $spotify_green;
    color: white;

    &:hover:not(.disabled):not(.loading) {
        background-color: #1c9145;
    }
}

.disabled {
    background-color: transparent;
    border: $grey-50 1px solid;
    color: $grey-50;
    cursor: default;

    &:hover {
        background-color: transparent;
    }

    &:active {
        transform: none;
    }
}

.medium {
    font-size: 0.75rem;
    height: 40px;
}

.buttonContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    width: 1.1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.small {
    font-size: 0.75rem;
    height: 27px;

    .icon {
        width: 0.9rem;
    }
}

.label {
    vertical-align: middle;
}

.loadingSpinner {
    font-size: 70px;
    margin-left: 5px;
    margin-top: 2px;
}

.loading {
    display: block;
}

.badge {
    background-color: red;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 22px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    padding: 0 6px;
    box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 6px;

    div {
        margin-top: -1px;
        margin-right: -1px;
    }
}