.button-loading-transition-enter {
    transform: translateY(20px);
    opacity: 0;
}

.button-loading-transition-enter.button-loading-transition-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.15s, opacity 0.15s;
}

.button-loading-transition-exit {
    transform: translateY(0);
    opacity: 1;
}

.button-loading-transition-exit.button-loading-transition-exit-active {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.15s, opacity 0.15s;
}

.button-badge-grow-enter {
    transform: scale(0.9);
    opacity: 0;
}

.button-badge-grow-enter.button-badge-grow-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
}