@import '_colours';

.button {
    background-color: white;
    border: none;
    color: $black;
    height: 3.25rem;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 6px;
    width: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s;
    position: relative;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #ebe9e9;
        }
    
        &:active {
            transform: translateY(1px);
        }
    }
}

.secondary {
    background-color: transparent;
    border: white 1px solid;
    color: white;
    box-shadow: none;

    &:hover:not(.disabled):not(.loading) {
        background-color: transparent;
    }
}

.greenPrimary {
    background-color: $spotify_green;
    color: white;

    &:hover:not(.disabled):not(.loading) {
        background-color: #1c9145;
    }
}

.disabled {
    background-color: transparent;
    border: $grey-50 1px solid;
    color: $grey-50;
    cursor: default;

    &:hover {
        background-color: transparent;
    }

    &:active {
        transform: none;
    }
}

.small {
    font-size: 0.75rem;
    height: 40px;
}

.buttonContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    width: 1.1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.label {
    vertical-align: middle;
}

.loadingSpinner {
    font-size: 70px;
    margin-left: 5px;
    margin-top: 2px;
}

.loading {
    display: block;
}