.slideLeft-enter {
    transform: translate3d(100%, 0, 0);
    z-index: 1;
}
  
.slideLeft-enter.slideLeft-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform 250ms;
}

.slideLeft-exit {
    opacity: 1;
}

.slideLeft-exit.slideLeft-exit-active {
    opacity: 0;
    transition: opacity 250ms;
}
