.fade-enter {
    transform: translateX(100%);
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    transform: translateX(0);
    transition: transform 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms;
}
